html {
  overflow-y: scroll;
}

body { 
  font-family: Arial, sans-serif;  
  line-height: 1.4;
  font-size: 16px;
  background: #40474f;
  margin: 0;
  padding: 0;
}

input {
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #336699;
  text-decoration: none;
}

a:hover {
  color: #880000;
}

h1 {
  margin: 0;
  padding-left: 50px;
  font-weight: 100;
}

h1 a {
  text-decoration: none; color: #F9F7ED;
}

h1 a:hover {
  border-bottom: 1px solid #F9F7ED; color: #F9F7ED;
}

#wrap { 
  width: 1000px;
  margin: 20px auto;
}

#header {
  position:fixed;
  top: 0;
  width: 1000px;
  margin: 0 auto;
  z-index: 9999999;
  padding-top: 20px;
  background: #40474f;
}

#logo-container {
  background: #40474f url(../images/header.jpg) no-repeat;
  height: 130px;
  line-height: 150px;
}

#logo {
  padding-left: 45px;
  padding-top: 40px;
}

#menu {
  background: #40474f url(../images/menu.jpg) no-repeat;
  height: 40px;
  line-height: 40px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 40px;
}

#menu ul li {
  display: block;
  float: left;
}

#menu ul li a {
  display: block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#menu ul li a:hover {
  color: #fff;
  background: url(../images/menuover.png) repeat-x;
}

.selected {
  color: #fff;
  background: url(../images/menuover.png) repeat-x;
  pointer-events: none;
}

.menu_right {
  float: right;
  padding-right: 40px;
}

#contentwrap {
  background: #40474f url(../images/content.jpg) repeat-y;
  padding: 200px 30px 0 30px;
}

#content {
  float: left;
  width: 620px;
}

#content-full {
  width: 100%;
}

#content h2 {
  background: url(../images/contenth2.jpg) no-repeat;
  margin: 0;
  color: #F9F7ED;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
}

#content-full h2 { 
  background: url(../images/contenth-full.jpg) no-repeat;
  margin: 0;
  color: #F9F7ED;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
}

#content-full p,
#content p {
  color: #232323;
}

#content-full ul,
#content ul {
   padding: 0 20px 10px 30px;
}

#sidebar {
  float: right;
  width: 300px;
}

#sidebar h3 {
  background: url(../images/sidebarh3.jpg) no-repeat;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  margin: 0;
  padding: 0 0 0 10px; 
  color: #F9F7ED;
}

#sidebar p {
  padding: 10px;
  color: #232323;
}

#sidebar ul {
  padding: 10px 0 20px 30px;
  margin: 0;
}

#sidebar ul li {
  padding: 0;
  margin: 0;
}

#footer { 
  background: #40474f url(../images/footer.jpg);
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

#footer p {
  padding: 0; margin: 0;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  text-decoration: underline;
}

.form_panel {
  width: 400px;
  margin: auto;
}

.form {
  position: relative;
  left: 100px;
}

.form_image {
  width: 50%;
  margin-bottom: 14px;
}

#login-image {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.input {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 4px;
  padding: 3px 5px;
}

.input:focus {
  outline: none !important;
  box-shadow: 0 0 3px #0c5593;
}

.submit {
  width: 50%;
  margin-top: 14px;
  padding: 5px 5px;
  color: #ffffff;
  background-color: #178fee;
  border: 1px solid #2f5bb7;
  cursor: pointer;
}

.button {
  background-color: #178fee;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px 5px;
  color: #ffffff;
  border: 1px solid #2f5bb7;
  cursor: pointer;
}

.register_text {
  width: 50%;
  margin-bottom: 14px;
}

.clear {
  clear: both;
  margin: 0;
}

.input_report {
  margin: 0;
  padding-top: 5px;
}

.input_report span{
  color: #ff0000;
  padding-left: 8px;
}

.button:hover,
.submit:hover,
.submit_half:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#2e6898,#0e4470);
  background-image: -moz-linear-gradient(top,#2e6898,#0e4470);
  background-image: -ms-linear-gradient(top,#2e6898,#0e4470);
  background-image: -o-linear-gradient(top,#2e6898,#0e4470);
  background-image: linear-gradient(top,#2e6898,#0e4470);
}

#register_message {
  margin: 0;
  padding-top: 14px;
  color: #ff0000;
  height: 10px;
}

#login_message {
  margin: 0;
  padding-top: 14px;
  color: #ff0000;
  height: 10px;
}

#welcome_wrap {
  padding-top: 40px;
}

.welcome_p {
  margin: 0;
}

#menu_name {
  margin: 0;
  padding-right: 20px;
  color: #292A2F;
  font-weight: 600; 
}

.projects {
  margin: 0 auto;
  width: 514px;
}

.projects-list {
  padding: 0!important;
  margin: 0;
  list-style-type: none;
}

.projects-element {
  margin-bottom: 20px;
}

.projects-element:nth-last-child(1) {
  margin-bottom: 0;
}

.text {
  padding: 10px 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.form_double_field div {
  width: 49%;
}

.bolder {
  font-weight: bolder;
}

.center {
  text-align: center;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

textarea {
  box-sizing: border-box;
  font-size: 16px;
  padding: 3px 5px;
  resize: none;
  width: 100%;
}

.popup_background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999999;
  text-align: center;
}

.popup_container {
  width: 310px;
  display: inline-block;
  background: white;
  margin: 20% auto 0;
  padding: 40px;
  border: 6px solid #2e6898;
  border-radius: 12px;
  text-align: center;
}

.popup_title {
  margin-bottom: 30px;
  font-weight: bold;
}

.popup_image {
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

.popup_input {
  width: 100%;
  text-align: center;
  display: block;
  box-sizing: border-box;
  margin: 4px 0;
  padding: 3px 5px;
}

.popup_error {
  margin: 10px 0 0;
  color: red;
}

.popup_send {
  margin: 10px 0 0;
  }

.popup_input_error {
  box-shadow: 0px 0px 10px red;
}
